<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Xcode833ManualSigning.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53209B161FB81C0A00ED71B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53209B2A1FB81C0B00ED71B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53209B351FB81C0B00ED71B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
